

button.card {
    background-color: #42414c !important;
    color: white;
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    overflow: hidden;
    height: 100%;

    border: none;
    border-radius: 1rem;


    display: flex;
    flex-direction: column;

    position: relative;

    .thumbnail {
        display: flex;
        position: relative;
        width: 100%;

        overflow: hidden;

        border-radius: 1rem 1rem 0rem 0rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 1rem 1rem 1rem;
        align-items: start;
        box-sizing: border-box;
    }

    p {
        padding: 0;
        margin: 0;
        text-align: start;
    }

    .topic {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
    }

    .picture {
        width: 100%;
        aspect-ratio: 16 / 9;
        user-select: none;
        -webkit-user-drag: none;
    }

    .url {
        color: white
    }

    .title, .date {
        font-weight: 600;
    }
}

button.card::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    border: 0.125rem solid transparent;
    border-radius: 1rem;
    box-sizing: border-box;

    pointer-events: none;
    transition: all 0.1s ease-in-out;
}

button.card:hover::after {
    border-color: #2b90ee;
}

button.card:active::after {
    background-color: rgba(0,0,0,0.1);
}