.app {
  background-color: #282c34;
  text-align: center;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, serif;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* container holding search dropdown/icons */
.search-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

/* preferences button on the top right of screen */
.preferences {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  border-radius: 0.3rem;
  background-color: #1d1f23;
  color:#ffffff;
  padding: 0.5rem 1rem;
  margin: 0.3rem;
}
.preferences:hover {
  background-color: #2b90ee;
  cursor:pointer;
}

/* container holding the preference option buttons + close button + description text */
.pref-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #565a63;
  margin: 0px;
  border-radius: 1rem;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 1;
  border: 1px solid white;
}

/* div containing just the option buttons */
.pref-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* individual preference buttons */
.pref-options button {
  background-color: #565a63;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 2rem;
  padding: 1rem;
}
.pref-options button:hover {
  border: 2px solid #2b90ee;
  color: #2b90ee;
  cursor:pointer;
}

/* class is only present when a topic button is clicked on once (class not on when clicked twice) */
.pref-options button.on {
  background-color: #2b90ee;
  border: 2px solid #ffffff;
}
.pref-options button.on:hover {
  color: #565a63; 
}

/* text in the buttons */
.pref-text {
  padding-left: 0.5rem;
}

/* section of the pref container that has the close button and description text */
.top-perf {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* description text in perf container */
.top-perf h3 {
  font-size: 1rem;
  font-weight: 500;
  flex-grow: 1;
  text-align: center;
}

/* close button in the perf container */
.close-btn {
  margin: auto 0.5rem auto auto;
  background-color: #565a63;
  border: none;
  border-radius: 1rem;
}
.close-btn:hover {
  border: 2px solid #ffffff;
  border-radius: 1rem;
  cursor:pointer;
}


/* overall page title */
.pgTitle {
  padding-bottom: 0rem;
  margin-bottom: -1rem;
  font-weight: 400;
  display: inline-block;
}
/* first word of title */
.bold {
  font-weight: 700;
}

/* authors below title */
.authors {
  margin-top: 0rem;
  padding-top: 0rem;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: right;
}

/* drop down for education level */
.search-bar {
  flex: 0.5;
  appearance: none;
  padding: 1rem 4.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #565a63;
  outline: none;
}
.search-bar:focus {
  border: 2px solid #2b90ee;
  outline: none;
}

/* search icon on the bar */
.search-icon {
  z-index: 1;
  margin-right: -3rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}
/* dropdown icon on the bar */
.dropdown-icon {
  z-index: 1;
  margin-left: -3rem;
  display: flex;
  align-items: center;
  pointer-events: none;
}

/* overall container for the cards*/
#search-article-list ul {
  list-style: none;
  margin: 0;
	padding: 0;
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: center;
}

#search-article-list li {
  width: 19%;
}

.article-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  overflow: auto; 
  background-color: #3a3f4b;
}
.article-view {
  /* max-width: 768px;   */
  width: 100%;  
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #2B2A32;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 100px 100px;
  position: relative;
}
.article-picture{
  width: 90%;
  margin: 100px;
}

.article-view .title-container{
  width: 250px
}
.article-view .source-link{
  text-decoration: none;
  color: white;
}
.article-view #source-link :hover{
  cursor: pointer;
}
.article-date{
    font-size: 0.75em;
    font-weight: bold;
}
.article-content{
  text-align: left;
  padding: 2rem;
}
.close-button {
  background-color: inherit; 
  border: 1px solid white; 
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color:white;
  padding: 10px;
  position: absolute;
  top: 20px; 
  right: 20px;
}

.close-button:hover {
  border: 2px solid #2b90ee;
  color: #2b90ee;
}

.full-article-title {
  padding: 1.5rem;
}

.article-stats {
  padding: 2rem;
  margin-bottom: 3rem;
}

.article-stats td{
 width: 500px;
}
.article-stats td{
  padding: 0px 20px;
}
.article-stats tr:nth-child(odd) {
  background-color: #8f8d9f;
}

/* mobile view */
@media screen and (max-width: 768px) {
  .pref-options button {
    min-width: 90%;
  }

  #search-article-list li {
    flex: 1 1 100%;
		max-width: 100%;
		padding: 0.5rem;
    margin-top: 2rem;
  }
  .article-view{
    padding: 0px 0px 0px 0px ;
  }

  .article-picture {
    margin: 2rem;
  }
}